{% load static %}
<html>
    <head>
        <title>
          Payment completed for {{ document.kind }} {{ document.series }}-{{ document.number }}
        </title>

        <style type="text/css">
            @page {
                size: a4;
                margin: 2cm;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">

        {% block extrahead %}
        {% endblock %}

    </head>

    <body>
        <div class="container">
            {% block content%}
                {% block transaction_state %}
                    <div>
                        <h2>
                          {% if transaction.state == transaction.States.Failed %}
                            Payment failed for
                          {% elif transaction.state == transaction.States.Pending %}
                            Payment pending for
                          {% elif transaction.state == transaction.States.Initial %}
                            Payment is still initializing for
                          {% else %}
                            Payment succeded for
                          {% endif %}
                        </h2>
                        {% if fail_data %}
                        <p>fail_data.message</p>
                        <p>fail_data.success_message</p>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block document %}
                    <div>
                        <h3>{{ document.kind }} {{ document.series }}-{{ document.number }}</h3>
                    </div>
                {% endblock %}
            {% endblock%}
        </div>
    </body>
</html>
