language: python
services: redis-server

python:
  - "2.7"
  - "3.6"

env:
  - DJANGO_VERSION="<1.9"
  - DJANGO_VERSION="<2.0"

matrix:
  allow_failures:
    - python: "3.6"

cache: pip
install:
  - pip install -U -r requirements/test.txt
  - pip install -U Django$DJANGO_VERSION

script:
  - make lint
  - make test
