include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
recursive-include silver/templates *
recursive-include silver/static *
graft silver
global-exclude *.orig *.pyc *.log *.swp
prune silver/tests/coverage
prune silver/.ropeproject

