{% extends 'forms/transaction_form.html' %}

{% block payment_processor %}
{% endblock %}

{% block document %}
{{ document }} {{ document.amount }}
{% endblock %}

{% block form %}
    <form action="{{ request.path }}" method="post">
        {{ form }}
        <div id="payment-form"></div>
        <input type="submit" value="Pay"/>
    </form>

    <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
    <script type="text/javascript">
        var client_token = "{{ form.payment_method.payment_processor.client_token }}";
        braintree.setup(client_token, "dropin", {
            container: "payment-form"
        });
    </script>
{% endblock %}
