{% extends 'base_js.html' %}

<script>
    {% block jquery %}
        //var endpoint = '/stats/documents/?result_type=amount&granulation_paid_date=day&granulations_customer=True'
        var endpoint = '/stats/subscriptions/?result_type=estimated_income&modifier=include_unused_plans&granulation_plan=True'
        /* not working anymore ---- var endpoint = '/stats/documents/?result_type=paid_date&modifier=average&granulation_paid_date=day' */

        var labels = []
        var datasets = []
        customer_list = []

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    var plan_count = data.length
                    labels = data.map(function (entry) {
                        return entry.granulations[Object.keys(entry.granulations)[Object.keys(
                            entry.granulations).length - 1]].value})

                    data.forEach(function (entry, index) {
                        entry.values.forEach(function (subscription) {
                            var _data = new Array(plan_count).fill(0)
                            _data[index] = subscription.estimated_income

                            color = getRandomColor()
                            datasets.push({data: _data, label: subscription.customer_name,
                                backgroundColor: color })
                        })
                    })

                  console.log(datasets)
                  setStackedChart()
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })

            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function setStackedChart(){
                var ctx = document.getElementById("canvas").getContext("2d");
                var total = 0;
                var count = 0;
                objects_number = 0;
                var tools;

                //var canvas = document.getElementById('canvas');
                //canvas.width = window.innerWidth;
                ctx.height = window.innerHeight * 10;

                chart = {
                    type: 'bar',
                    data: {
                      labels: labels,
                      datasets: datasets
                    },
                    options: {
                        title:{
                            display:true,
                            text:"Estimated Income"
                        },
                        responsive: true,
                        legend: {
                        display: false,
                          labels: {
                            display: false
                          }
                        },
                        layout: {
                            padding: {
                                top: 50
                            }
                        },
                        tooltips: {
                            mode: 'label',
                            intersect: false,
                            yAlign: 'middle',
                            callbacks: {
                                 afterTitle: function() {
                                    total = 0;
                                    count = 0;
                                    objects_number = 0;
                                },
                                label: function(tooltipItem, data) {
                                    var customer = data.datasets[tooltipItem.datasetIndex].label;
                                    var valor = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                    total += valor;
                                    objects_number = objects_number + 1;
                                    if (valor>0)
                                    {
                                        //console.log(tooltipItem)
                                        count = count + 1
                                        return customer + ": $" + valor.toString();
                                    }
                                },
                                footer: function() {
                                    console.log(objects_number)
                                    return "TOTAL: $" + total.toString() + "  AVERAGE: $" + (total/count).toString()
                                }
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                      autoSkip: true,
                                      maxRotation: 90,
                                      minRotation: 90
                                    },
                                    stacked: true
                                }],
                            yAxes: [{
                                stacked: true
                                }]
                        }
                    }
                };

                 var myLiveChart = new Chart(ctx, chart);
              };

    {% endblock %}
</script>

    {% block content %}

        <div>
            <canvas id="canvas" height="200%"></canvas>
        </div>

    {% endblock content %}